<app-auth-card heading="Set New Password">

    <form [formGroup]="resetForm" class="w-full md:w-120">

        <label class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-8">New Password</label>

        <p-password
            formControlName="password"
            placeholder="Enter new password"
            [toggleMask]="true"
            [fluid]="true"
            [feedback]="true"
            styleClass="mb-2">
        </p-password>

        @if (f['password'].touched && f['password'].errors) {
            <small class="text-red-500 block mb-3">
                @if (f['password'].errors['required']) {
                    <span>Password is required</span>
                }
                @if (f['password'].errors['minlength']) {
                    <span>Password must be at least 6 characters</span>
                }
            </small>
        }

        <label class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Confirm Password</label>

        <p-password
            formControlName="confirmPassword"
            placeholder="Confirm new password"
            [toggleMask]="true"
            [fluid]="true"
            [feedback]="false"
            styleClass="mb-2">
        </p-password>

        @if (f['confirmPassword'].touched && resetForm.errors?.['passwordMismatch']) {
            <small class="text-red-500 block mb-3">Passwords do not match</small>
        }

        <!-- BACK TO LOGIN -->
        <div class="flex justify-end mt-2 mb-8">
            <a routerLink="/auth/login"
               class="text-primary font-medium no-underline cursor-pointer">
                Back to Login
            </a>
        </div>

        <!-- BUTTON -->
        <p-button label="Reset Password"
                  styleClass="w-full"
                  (onClick)="submit()"
                  [disabled]="resetForm.invalid">
        </p-button>

    </form>

</app-auth-card>