<app-auth-card heading="Reset Your Password">

    <form [formGroup]="resetForm">

        <label class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2 mt-16">
            Enter your Email
        </label>

        <input
            pInputText
            type="email"
            formControlName="email"
            placeholder="Enter your email"
            class="w-full md:w-120 mb-2"
        />

        @if (f['email'].touched && f['email'].errors) {
            <small class="text-red-500 block mb-3">
                @if (f['email'].errors['required']) {
                    <span>Email is required</span>
                }
                @if (f['email'].errors['email']) {
                    <span>Invalid email format</span>
                }
            </small>
        }

        <!-- BACK TO LOGIN -->
        <div class="flex justify-end mt-2 mb-8">
            <a routerLink="/auth/login"
               class="text-primary font-medium no-underline cursor-pointer">
                Back to Login
            </a>
        </div>

        <!-- BUTTON -->
        <p-button label="Submit"
                  styleClass="w-full"
                  (onClick)="submit()"
                  [disabled]="resetForm.invalid">
        </p-button>

    </form>

</app-auth-card>