html[dir='rtl']{
    body {
        font-family: 'Cairo', sans-serif;
    }
.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: calc(var(--app-topbar-height, 4rem) + 2rem) 2rem 0 2rem;
    transition:
        margin-start var(--layout-section-transition-duration),
        padding-top 0.2s ease;
    margin-left: 0;
    margin-right: 22rem;
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}
}